<p>Collection: <%= collection_action? %></p>
<p>Index: <%= index_action? %></p>

<p>Member: <%= member_action? %></p>
<p>Show: <%= show_action? %></p>

<p>New/Create: <%= new_actions? %></p>
<p>Create/New: <%= create_actions? %></p>
<p>New: <%= new_action? %></p>
<p>Create: <%= create_action? %></p>

<p>Edit/Update: <%= edit_actions? %></p>
<p>Update/Edit: <%= update_actions? %></p>
<p>Edit: <%= edit_action? %></p>
<p>Update: <%= update_action? %></p>
